@page
@model MegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumOfDrawers" class="control-label"></label>
                <input asp-for="Desk.NumOfDrawers" class="form-control" />
                <span asp-validation-for="Desk.NumOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.DeliveryTypeId" class="control-label"></label>
                <select asp-for="DeskQuote.DeliveryTypeId" class ="form-control" asp-items="ViewBag.DeliveryTypeId">
                    <option value="">Choose</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desk.DesktopMaterialId" class="control-label"></label>
                <select asp-for="Desk.DesktopMaterialId" class ="form-control" asp-items="ViewBag.DesktopMaterialId">
                    <option value="">Choose</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="create-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"><i class="fa-solid fa-arrow-left"></i>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
